@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&display=swap");
@import url("//fonts.googleapis.com/earlyaccess/notosanstc.css");
:root {
  font-size: 16px;
  color: #545454;
  font-family: "Comic Sans MS", "Noto Sans TC";
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #edf9fc;
}

::-webkit-scrollbar-thumb {
  background: #53cde2;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #005792;
}

body {
  background: #edf9fc;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
  color: #53cde2;
  padding-bottom: 1rem;
}
body h1 {
  font-size: 2.8rem;
}
body h2 {
  font-size: 2.5rem;
  color: #005792;
}
body h3 {
  font-size: 1.75rem;
}
body h4 {
  font-size: 1.5rem;
}
body h5 {
  font-size: 1.25rem;
}
body h6 {
  font-size: 1rem;
}
body p,
body li {
  line-height: 1.7rem;
  letter-spacing: 0.05rem;
}
body .img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
body a {
  text-decoration: none;
  color: initial;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 999;
  transition: 0.3s;
}
header.scroll-down {
  background: rgba(84, 84, 84, 0.5);
}
header:hover {
  background: #545454;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}
.header-wrap #logo {
  border: none;
  background: none;
  cursor: pointer;
}
.header-wrap #logo:hover .logo {
  transform: translateY(-0.1rem);
}
.header-wrap #logo .logo {
  transition: 0.5s;
  font-family: "Caveat";
  text-shadow: 1px 2px #edf9fc, 0 0 10px #005792;
  padding: 0;
}
.header-wrap .navbar {
  display: flex;
}
.header-wrap .navbar button {
  margin-inline: 1rem;
  padding: 0.4rem;
  border: none;
  background: #d1f4fa;
  font-size: 1.2rem;
  border-radius: 1rem;
  font-family: "Caveat";
  cursor: pointer;
  transition: 0.3s;
}
.header-wrap .navbar button.scroll-down {
  background: rgba(218, 235, 242, 0.3);
  color: #edf9fc;
}
.header-wrap .navbar button:hover {
  background: #53cde2;
  color: #edf9fc;
  transform: translateY(-0.1rem);
}
.header-wrap .navbar button:active {
  background: #005792;
  color: #edf9fc;
}
.header-wrap .navbar button a {
  text-decoration: none;
}

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#hero #hero-text {
  position: absolute;
  z-index: 90;
  text-align: center;
  left: calc(50% - 22.5rem);
  top: calc(50% - 7.5rem);
  width: 45rem;
  height: 15rem;
}
#hero #hero-text h1 {
  color: #53cde2;
  font-size: 3.5rem;
}
#hero #hero-text h1 span {
  opacity: 0;
  display: inline-block;
}
#hero .down-arrow {
  position: absolute;
  width: 6rem;
  height: 6rem;
  bottom: 1rem;
  left: calc(50% - 5rem);
  z-index: 90;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#hero .down-arrow .arrow-img-box {
  width: 6rem;
}
#hero .carousel .img-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#about .about-wrap {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#about .about-wrap .avatar {
  width: 20rem;
  border-radius: 5rem;
  overflow: hidden;
}
#about .about-wrap .about-content p {
  line-height: 2rem;
}
#about .about-wrap .about-content span {
  font-style: italic;
  color: #53cde2;
}

#skill {
  height: 100vh;
  position: relative;
  background: #d1f4fa;
}
#skill .skill-full {
  position: relative;
}
#skill .skill-full .skill-full-card {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}
#skill .skill-full .skill-full-card:nth-child(1) {
  opacity: 1;
  z-index: 1;
}
#skill .skill-full .skill-full-card .skill-full-content {
  position: absolute;
  width: 11rem;
  border-radius: 2rem;
  top: 10rem;
  left: 10rem;
  background: #d1f4fa;
  padding: 2rem 3rem;
  transition: 0.5s;
}
#skill .skill-full .skill-full-card .skill-full-content .skill-content-box {
  display: flex;
  position: relative;
}
#skill .skill-full .skill-full-card .skill-full-content .skill-content-box .skill-main-content {
  width: 15rem;
}
#skill .skill-full .skill-full-card .skill-full-content .skill-content-box .skill-content-detail {
  position: absolute;
  left: 0rem;
  transition: 0.5s;
  opacity: 0;
  width: 30rem;
  height: 100%;
  font-size: 0.9rem;
  overflow: hidden;
}
#skill .skill-full .skill-full-card .skill-full-content .skill-content-box .skill-content-detail p {
  line-height: 3rem;
}
#skill .skill-full .skill-full-card .skill-full-content:hover {
  width: 40rem;
}
#skill .skill-full .skill-full-card .skill-full-content:hover .skill-content-detail {
  opacity: 1;
  left: 12rem;
}
#skill .skill-full .skill-full-card .skill-full-content:not(:hover) .skill-content-detail {
  transition: 0.2s;
}
#skill .skill-full .skill-full-card .skill-full-content h3 {
  color: #005792;
}
#skill .skill-full .skill-full-card .skill-full-content p {
  font-style: italic;
}
#skill .skill-wrap {
  position: absolute;
  bottom: 2rem;
  right: 0;
  z-index: 2;
}
#skill .skill-wrap .skill-btn-group {
  position: absolute;
  bottom: 2rem;
  right: 25rem;
  display: flex;
  z-index: 2;
  gap: 1rem;
}
#skill .skill-wrap .skill-btn-group button {
  background: #53cde2;
  color: #edf9fc;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
#skill .skill-wrap .skill-btn-group button:hover {
  background: #005792;
}
#skill .skill-wrap .skill-btn-group button:active {
  background: #53cde2;
}
#skill .skill-wrap .skill-panel-wrap {
  display: flex;
  width: 24rem;
  padding-block: 1rem;
  overflow: hidden;
}
#skill .skill-wrap .skill-panel-wrap .skill-panel {
  display: flex;
  transition: 0.5s;
}
#skill .skill-wrap .skill-panel-wrap .skill-panel .skill-card {
  background: #edf9fc;
  margin: 0 1rem;
  width: 11.5rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
  transition: 0.5s;
  border-radius: 2rem;
  background: url("https://media.istockphoto.com/id/1669453534/photo/3d-render-cloud-computing-circuit-board-background.jpg?s=1024x1024&w=is&k=20&c=okVK7qp59LYKAYor5fpAVoLbWjftCs37vexzBEjUecc=");
}
#skill .skill-wrap .skill-panel-wrap .skill-panel .skill-card:hover {
  scale: 1.02;
}
#skill .skill-wrap .skill-panel-wrap .skill-panel .skill-card .skill-img-box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#skill .skill-wrap .skill-panel-wrap .skill-panel .skill-card .skill-img-box-wrap .skill-img-box {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.2rem 0.3rem;
  background: #d1f4fa;
  border-radius: 0.3rem;
}
#skill .skill-wrap .skill-panel-wrap .skill-panel .skill-card .skill-img-box-wrap .skill-img-box2 {
  width: 3rem;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.2rem;
  background: #d1f4fa;
  border-radius: 0.2rem;
}

#experience {
  padding: 3rem;
  height: 110vh;
  display: flex;
  justify-content: center;
}
#experience .experience-wrap {
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#experience .experience-wrap .experience-btn-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}
#experience .experience-wrap .experience-btn-group button {
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  border: none;
  color: #545454;
  background: #d1f4fa;
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.5s;
}
#experience .experience-wrap .experience-btn-group button.active {
  color: #edf9fc;
  background: #005792;
}
#experience .experience-wrap .experience-btn-group button:hover {
  color: #edf9fc;
  background: #53cde2;
}
#experience .experience-wrap .experience-btn-group button:active {
  background: #005792;
  color: #edf9fc;
}
#experience .experience-wrap .experience-btn-group button h2 {
  padding: 0;
}
#experience .experience-type-wrap {
  width: 70vw;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}
#experience .experience-type-wrap .code {
  position: absolute;
  top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: 0.4s;
}
#experience .experience-type-wrap .code .code-wrap {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
#experience .experience-type-wrap .code .code-wrap h2 {
  margin-bottom: 3rem;
}
#experience .experience-type-wrap .code .code-wrap h4 {
  color: #545454;
}
#experience .experience-type-wrap .code .code-wrap span {
  margin-inline: 1.5rem;
  color: #53cde2;
}
#experience .experience-type-wrap .job {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transition: 0.4s;
}
#experience .experience-type-wrap .job .job-card-wrap {
  display: flex;
  gap: 3rem;
}
#experience .experience-type-wrap .job .job-card-wrap .job-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  width: 20rem;
}
#experience .experience-type-wrap .job .job-card-wrap .job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 5px #888;
}
#experience .experience-type-wrap .job .job-card-wrap .job-card .img-box {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  margin-block: 1rem;
}
#experience .experience-type-wrap .job .job-card-wrap .job-card .job-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#experience .experience-type-wrap .job .job-card-wrap .job-card .job-content .job-click-wrap {
  text-align: center;
}
#experience .experience-type-wrap .job .job-card-wrap .job-card .job-content .job-click-wrap span {
  font-size: 1.2rem;
  color: #53cde2;
}
#experience .experience-type-wrap .job .job-card-wrap .job-card .job-content .job-click-show {
  opacity: 0;
  transition: 0.3s;
}
#experience .experience-type-wrap .job .job-card-wrap .job-card .job-content .job-click-show.show {
  opacity: 1;
}
#experience .experience-type-wrap .job .job-card-wrap .job-card .job-content .job-click-show li {
  margin-block: 1rem;
}

#projects {
  background: #d1f4fa;
  height: 100vh;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#projects button {
  background: #53cde2;
  color: #edf9fc;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
}
#projects button:hover {
  background: #005792;
}
#projects button:active {
  background: #53cde2;
}
#projects button#project-prev {
  left: 4rem;
  top: 50%;
}
#projects button#project-next {
  right: 4rem;
  top: 50%;
}
#projects .project-wrap {
  display: flex;
  position: relative;
  width: 75rem;
  height: 30rem;
  overflow: hidden;
  align-items: center;
}
#projects .project-wrap .project-panel {
  position: absolute;
  display: flex;
  transition: 0.5s;
}
#projects .project-wrap .project-panel .project-card {
  width: 20rem;
  height: 100%;
  background: #edf9fc;
  margin-inline: 2.5rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
#projects .project-wrap .project-panel .project-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(84, 84, 84, 0);
  transition: 0.4s;
}
#projects .project-wrap .project-panel .project-card:hover::after {
  background: rgba(84, 84, 84, 0.6);
}
#projects .project-wrap .project-panel .project-card:hover .detail {
  opacity: 1;
}
#projects .project-wrap .project-panel .project-card .img-box {
  width: 100%;
  height: 12rem;
}
#projects .project-wrap .project-panel .project-card .img-box .img {
  -o-object-position: top;
     object-position: top;
}
#projects .project-wrap .project-panel .project-card .project-content {
  padding: 1rem;
  text-align: center;
}
#projects .project-wrap .project-panel .project-card .project-content .tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
#projects .project-wrap .project-panel .project-card .project-content .tools .tool {
  border: 1px solid #005792;
  padding: 0.1rem 0.3rem;
  margin: 0 0.2rem 0.2rem 0.2rem;
  border-radius: 1rem;
  color: #005792;
}
#projects .project-wrap .project-panel .project-card .detail {
  position: absolute;
  width: 10rem;
  background: #d1f4fa;
  top: calc(50% - 3rem);
  left: calc(50% - 5.5rem);
  z-index: 2;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
}
#projects .project-wrap .project-panel .project-card .detail:hover {
  background: #53cde2;
}
#projects .project-wrap .project-panel .project-card .detail:hover h3 {
  color: #edf9fc;
}
#projects .project-wrap .project-panel .project-card .detail h3 {
  padding: 0;
  transition: 0.5s;
}

footer {
  background: #545454;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
footer div {
  display: flex;
}
footer div a {
  display: block;
  width: 3rem;
  height: 3rem;
  margin-inline: 1rem;
}
footer div a .img {
  -o-object-fit: contain;
     object-fit: contain;
}
footer h6 {
  padding: 0;
  margin-top: 3rem;
}

.tttt {
  transform: translateX(5rem);
}/*# sourceMappingURL=index.css.map */